<template name="headerTemplate">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">BookChange</a>
            </div>
            <div class="collapse navbar-collapse">
                {{#if currentUser}}
                <ul class="nav navbar-nav">
                    <li class="{{searchClass}} find"><a href="#find">{{> languageDictionaryValue key="Search"}}</a>
                    </li>
                    <li class="{{allClass}} all"><a href="#all">{{> languageDictionaryValue key="All books"}}</a>
                    </li>
                    <li class="{{myClass}} my"><a href="#my">{{> languageDictionaryValue key="My books"}}</a>
                    </li>
                    <li class="{{contactClass}} contact"><a href="#contact">{{> languageDictionaryValue key="About"}}</a>
                    </li>
                    <li class="en"><a href="#contact">EN</a>
                    </li>
                    <li class="pl"><a href="#contact">PL</a>
                    </li>
                </ul>
                {{/if}}
                <ul class="nav navbar-nav pull-right">
                    <li><a id="login">{{> loginButtons  align="right"}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</template>
