<template name="myTemplate">
    {{#if isActive}}
    <div class="container">
        <h2>{{> languageDictionaryValue key="Add a book"}}</h2>
        <form role="form">
            <div class="form-group">
                <label for="title">{{> languageDictionaryValue key="Title:"}}</label>
                <input type="text" class="form-control" id="title" >
            </div>
            <div class="form-group">
                <label for="dsc">{{> languageDictionaryValue key="Author:"}}</label>
                <input type="text" class="form-control" id="author">
            </div>
            <div class="form-group">
                <label for="dsc">{{> languageDictionaryValue key="Description:"}}</label>
                <input type="text" class="form-control" id="dsc" >
            </div>
            <div class="form-group">
                <label for="dsc">{{> languageDictionaryValue key="Link to PDF:"}}</label>
                <input type="text" class="form-control" id="link" >
            </div>
            <div class="form-group">
                <label for="tags">{{>languageDictionaryValue key="Tags:"}}</label>
                <input type="text" class="form-control" id="tags" >
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">{{> languageDictionaryValue key="Add to library"}}</button>
            </div>{{#if isError}}
            <div class="form-group">
                <div class="alert alert-danger">
                    <strong>{{> languageDictionaryValue key="All fields should be filled and file address should and on .pdf!"}}</strong>
                </div>
            </div>{{/if}} {{#if justAdded}}
            <div class="form-group">
                <div class="alert alert-success">
                    <strong>{{> languageDictionaryValue key="Book has been added!"}}</strong>
                </div>
            </div>{{/if}}
        </form>
    </div>
    <br/>
    <div class="container">
        <h2>{{> languageDictionaryValue key="My books"}}</h2>
        <div class="list-group">
            {{#each myBooks}} {{> myBookListItem}} {{/each}}
        </div>
    </div>
    {{/if}}

</template>
