/* CSS declarations go here */

body {
    padding-top: 50px;
}

.login-link-text {
    height: 50px!important;
    color: #9D9D9D;
    padding: 15px !important;
}

.badge {
    vertical-align: middle!important;
}

.badge:hover {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.badge-error {
    background-color: #b94a48!important;
}

.badge-error:hover {
    background-color: #953b39!important;
}

.badge-warning {
    background-color: #f89406!important;
}

.badge-warning:hover {
    background-color: #c67605!important;
}

.badge-success {
    background-color: #468847!important;
}

.badge-success:hover {
    background-color: #356635!important;
}

.badge-info {
    background-color: #3a87ad!important;
}

.badge-info:hover {
    background-color: #2d6987!important;
}

.badge-inverse {
    background-color: #333333!important;
}

.badge-inverse:hover {
    background-color: #1a1a1a!important;
}

.login-dropdown-list {
    z-index: 1000;
}
