/* CSS declarations go here */

body {
    padding-top: 50px;
}

.login-link-text {
    height: 50px!important;
    color: #9D9D9D;
    padding: 15px !important;
}

.badge {
    vertical-align: middle!important;
}
